@{
    ViewData["Title"] = "Udomi me";
}

<div class="text-center">
    <h1 class="display-4">Planirate udomiti kućnog ljubimca?</h1>
     <p> Na pravom ste mjestu.</p>


     <img class="donji_banner" src="~/images/group-pets-sitting.jpg" alt="Ljubimci" />
     <p> Izvor: https://www.dreamstime.com/ ( Royalty free stock photo ) </p>
</div>
